*{
  font-family:Verdana, Geneva, Tahoma, sans-serif
  font-size:1rem ;
  padding: 0;
  margin: 0;

}
body{

}
#index{
  display: flex;
  flex-flow: column nowrap;
}
#header-index{
  display: flex;
  flex-flow: column wrap;
}
#encabezado{
  display: flex;
  align-items: center;
  column-gap: 2vw;
  padding: 1rem;
  background-color: azure;
  transition: .5s;
}
#nav-principal ul{
  background-color: azure;
  display: flex;
  flex-wrap:  nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#nav-principal ul a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
#reproductor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  column-gap: .25rem;
}
#botones{
  background-color: black;
  border: gray solid;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
#reproduciendo{
  background-color: bisque;
  border: black solid;
  padding: .5rem;
}
#imagen-principal{
  position: relative;
  height: 45rem;
  width: 60rem;
  margin: 0 auto;
  transition: .5s;
}
#imagen-principal img{

  width: 100%;
  height: 100%;
}
#titulo-principal{
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  transition: .3s ;
}
#imagen-principal:hover #titulo-principal {
  bottom:90%;
  font-size: 200%;
  color:rgb(137, 132, 132);
  text-shadow: 5px .5px 1px rgb(6, 6, 6);
}
#descripcion-principal{
 display: none;
 position: absolute;
 bottom: 50%;
  width: 80%;
  margin: auto 10%;
  color:rgb(137, 132, 132);
  text-shadow: .4px .4px 15px rgb(6, 6, 6);
  transition: .60s;
}
#imagen-principal:hover #descripcion-principal{
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1000px){
  #encabezado{
    justify-content: center;
    transition: 1.5s;
  }
  #imagen-principal{
    height: 20rem;
    width: 25rem;
    transition: .5s;
  }
  
}
#footer-principal{
  display: flex;
  justify-content: space-around;
}
