* {
  font-family: "tilt neon", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 0.5vw;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(121, 85, 72, 0.5);
  border-radius: 2rem;
}

#index {
  display: flex;
  flex-flow: column nowrap;
}
#index #header-index {
  display: flex;
  flex-flow: column wrap;
}
#index #header-index #encabezado {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;
  padding: 10px;
  background-color: #4E342E;
  transition: 0.5s;
}
#index #header-index #encabezado img {
  width: 100px;
  border: solid #BCAAA4;
  border-radius: 100%;
}
#index #header-index #encabezado h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #264d49;
}
#index #header-index #nav-principal ul {
  background-color: #D7CCC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2vw;
  list-style: none;
  overflow: hidden;
}
#index #header-index #nav-principal ul li:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: none;
  transition: all 0.25s;
  opacity: 1;
}
#index #header-index #nav-principal ul li a {
  color: #795548;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #index #header-index #nav-principal ul {
    justify-content: space-around;
    column-gap: 0;
  }
  #index #header-index #nav-principal ul li {
    width: 33%;
    text-align: center;
  }
  #index #header-index #nav-principal ul li:hover {
    background-color: rgba(121, 85, 72, 0.5);
  }
}
#index #header-index #reproductor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
  column-gap: 0.25rem;
  scale: 0.7;
}
#index #header-index #reproductor #botones {
  background-color: #3E2723;
  border: #BCAAA4 solid;
  padding: 0.125rem 1rem;
  border-radius: 0.5rem;
}
#index #header-index #reproductor #botones input {
  color: #1f1412;
  background-color: #BCAAA4;
  padding: 2px;
  border-radius: 0.5rem;
}
#index #header-index #reproductor #reproduciendo {
  background-color: #D7CCC8;
  border: #8D6E63 solid;
  padding: 0.25rem;
}
#index #imagen-principal {
  position: relative;
  height: 320px;
  width: 800px;
  margin: 0 auto;
  transition: 0.5s;
}
#index #imagen-principal:hover img {
  filter: blur(2px);
  border-radius: 0.5rem;
  opacity: 80%;
}
#index #imagen-principal img {
  width: 100%;
  height: 100%;
  background-color: #BCAAA4;
}
#index #imagen-principal #titulo-principal {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #264d49;
}
#index #imagen-principal:hover #titulo-principal {
  bottom: 80%;
  font-size: 2.5rem;
  text-shadow: 1px 0.5px 1px #3E2723;
}
#index #imagen-principal:hover #descripcion-principal {
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 1px 4px black;
  font-weight: bold;
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: #264d49;
  color: #1f1412;
}
#index #imagen-principal #descripcion-principal {
  display: none;
  position: absolute;
  bottom: 10%;
  width: 80%;
  margin: auto 10%;
  text-shadow: 4px 4px 5px rgb(6, 6, 6);
  transition: 0.6s;
}
#index #footer-principal {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
#index #footer-principal a {
  text-decoration: none;
}
#index #footer-principal a img {
  height: 1rem;
}

#index {
  margin: 0;
}
@media screen and (max-width: 600px) {
  #index #header-index {
    transition: 0.5s;
  }
  #index #header-index #encabezado {
    padding: 10px 10vw;
  }
  #index #header-index #encabezado h1 {
    font-size: 2rem;
    transition: 0.5s;
  }
  #index #header-index #encabezado img {
    width: 70px;
  }
  #index #header-index #reproductor {
    scale: 1;
    display: block;
    margin: 0;
    padding: 0;
  }
  #index #header-index #reproductor #botones {
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 0;
    width: 100%;
  }
  #index #header-index #reproductor #botones input {
    width: 20%;
    background-color: #8D6E63;
    border: solid black 2px;
    border-radius: 1rem;
    padding: 5px 0;
    margin: 1px 0;
    color: #3E2723;
  }
  #index #header-index #reproductor #reproduciendo {
    text-align: center;
  }
  #index #imagen-principal {
    margin: 0;
    height: 400px;
    width: 100%;
    transition: 0.5s;
  }
  #index #imagen-principal #titulo-principal {
    font-size: 2rem;
  }
  #index #imagen-principal:hover #titulo-principal {
    bottom: 75%;
  }
  #index #imagen-principal:hover #descripcion-principal {
    font-size: 1.2rem;
    font-family: "tilt neon";
    bottom: 20%;
  }
  #index #footer-principal {
    display: flex;
    justify-content: center;
  }
}

#contactanos {
  background-color: #BCAAA4;
}
#contactanos header nav ul {
  background-color: #D7CCC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2vw;
  list-style: none;
  overflow: hidden;
}
#contactanos header nav ul li:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: none;
  transition: all 0.25s;
  opacity: 1;
}
#contactanos header nav ul li a {
  color: #795548;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #contactanos header nav ul {
    justify-content: space-around;
    column-gap: 0;
  }
  #contactanos header nav ul li {
    width: 33%;
    text-align: center;
  }
  #contactanos header nav ul li:hover {
    background-color: rgba(121, 85, 72, 0.5);
  }
}
#contactanos main {
  width: 80vw;
  margin: 0 auto;
}
#contactanos main form {
  display: grid;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-around;
  grid-template-columns: 25% 55% 20%;
  grid-template-areas: "inf-contacto mensaje imagen" "inf-contacto mensaje imagen" "inf-contacto mensaje imagen" "inf-contacto mensaje enviar";
  background-color: #4E342E;
}
#contactanos main form input {
  border: solid black 2px;
  border-radius: 0.25rem;
  text-align: center;
  background-color: #D7CCC8;
}
#contactanos main form #informacion-contacto {
  grid-area: inf-contacto;
  display: flex;
  flex-wrap: wrap;
}
#contactanos main form #informacion-contacto div {
  justify-content: center;
}
#contactanos main form #informacion-contacto #nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contactanos main form #informacion-contacto #nombre input {
  height: 85%;
  width: 100%;
}
#contactanos main form #informacion-contacto #correo-electronico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contactanos main form #informacion-contacto #correo-electronico input {
  height: 85%;
  width: 100%;
}
#contactanos main form #informacion-contacto #motivo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contactanos main form #informacion-contacto #motivo input {
  height: 85%;
  width: 100%;
}
#contactanos main form #informacion-contacto #motivo select {
  width: 100%;
}
#contactanos main form #informacion-contacto #motivo select option {
  text-align: center;
}
#contactanos main form #informacion-contacto #localidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contactanos main form #informacion-contacto #localidad input {
  height: 85%;
  width: 100%;
}
#contactanos main form #mensaje {
  grid-area: mensaje;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
#contactanos main form #mensaje input {
  height: 100%;
  width: 95%;
}
#contactanos main form #imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: imagen;
  padding: 1vh 0;
}
#contactanos main form #imagen img {
  border: solid black 2px;
  border-radius: 50%;
  width: 100%;
}
#contactanos main form #enviar-formulario {
  grid-area: enviar;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#contactanos main form #enviar-formulario input {
  height: 100%;
  width: 100%;
}
#contactanos main form #enviar-formulario input {
  background-color: #795548;
  color: #D7CCC8;
}
#contactanos main form #enviar-formulario input:hover {
  scale: 1.05;
  opacity: 0.75;
  background-color: #795548;
  transition: all 0.25s;
  background-color: #8D6E63;
}
#contactanos main #informacion-de-contacto-banda {
  width: 100%;
}
#contactanos main #informacion-de-contacto-banda p {
  text-align: justify;
  background-color: #8D6E63;
  margin: 10px 0;
  padding: 5px;
  border: solid black 2px;
  border-radius: 0;
}
#contactanos main #informacion-de-contacto-banda p span {
  display: block;
  padding: 5px;
  background-color: #795548;
  font-family: "fasthand";
  font-size: 1.2rem;
}
#contactanos footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #contactanos main {
    width: 100%;
    transition: all 0.3s;
  }
  #contactanos main form {
    padding: 0;
    height: 400px;
    grid-template-areas: "inf-contacto" "mensaje" "enviar";
    grid-template-columns: 100%;
    grid-template-rows: 55% 35% 10%;
  }
  #contactanos main form #informacion-contacto {
    padding: 2vh 0 0 0;
    width: 100%;
  }
  #contactanos main form #informacion-contacto #nombre input, #contactanos main form #informacion-contacto #correo-electronico input, #contactanos main form #informacion-contacto #localidad input, #contactanos main form #informacion-contacto #motivo input {
    border: solid #1f1412 2px;
    border-radius: 0;
  }
  #contactanos main form #informacion-contacto #motivo {
    margin: 0 auto;
    width: 50%;
  }
  #contactanos main form #mensaje {
    margin: 0;
    width: 100%;
    padding-bottom: 2vh;
  }
  #contactanos main form #mensaje input {
    border: solid #1f1412 2px;
    border-radius: 0;
    width: 100%;
  }
  #contactanos main form #imagen {
    display: none;
  }
  #contactanos main form #enviar-formulario {
    width: 80%;
    margin: 0 auto 2vh;
  }
  #contactanos main #informacion-de-contacto-banda {
    width: 100%;
  }
  #contactanos main #informacion-de-contacto-banda #intro-contactos {
    margin: 0;
    background-color: #795548;
    border: solid #1f1412 2px;
    border-radius: 0;
  }
  #contactanos main #informacion-de-contacto-banda p:not(#intro-contactos) {
    border: none;
    margin: 0;
  }
  #contactanos main #informacion-de-contacto-banda p:not(#intro-contactos) span {
    display: block;
    padding: 5px;
    border-radius: 0.25rem;
  }
}

#tour-mundial {
  height: 100vh;
  background-color: #BCAAA4;
}
#tour-mundial header {
  background-color: #4E342E;
}
#tour-mundial header h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #264d49;
  text-align: center;
  width: 100%;
}
#tour-mundial header nav ul {
  background-color: #D7CCC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2vw;
  list-style: none;
  overflow: hidden;
}
#tour-mundial header nav ul li:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: none;
  transition: all 0.25s;
  opacity: 1;
}
#tour-mundial header nav ul li a {
  color: #795548;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #tour-mundial header nav ul {
    justify-content: space-around;
    column-gap: 0;
  }
  #tour-mundial header nav ul li {
    width: 33%;
    text-align: center;
  }
  #tour-mundial header nav ul li:hover {
    background-color: rgba(121, 85, 72, 0.5);
  }
}
#tour-mundial main {
  margin: 1vh 1vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 25vw 72vw;
  grid-template-rows: 30% 67%;
  row-gap: 1%;
  column-gap: 1vh;
  grid-template-areas: "aside principal" "lista principal";
}
#tour-mundial main #informacion-complementaria {
  grid-area: aside;
  background-color: #795548;
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
}
#tour-mundial main #informacion-complementaria p {
  padding: 2%;
  text-justify: inter-word;
}
#tour-mundial main #lista-de-fechas {
  grid-area: lista;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#tour-mundial main #lista-de-fechas li {
  height: 20%;
  background-color: #8D6E63;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #1f1412;
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
}
#tour-mundial main #lista-de-fechas li:hover {
  background-color: #BCAAA4;
}
#tour-mundial main #informacion-principal {
  grid-area: principal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #1f1412;
  background-color: #D7CCC8;
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
}
#tour-mundial main #informacion-principal p {
  padding: 2%;
  text-align: center;
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #264d49;
}
#tour-mundial main #informacion-principal img {
  border: solid #BCAAA4 2px;
  border-radius: 100%;
  width: 18vw;
  border: solid 1vw #BCAAA4;
}
#tour-mundial footer {
  text-align: center;
}

#tour-mundial {
  height: auto;
}
@media screen and (max-width: 600px) {
  #tour-mundial header h1 {
    font-size: 1.5rem;
  }
  #tour-mundial main {
    margin: 0;
    padding: 0;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "principal" "aside" "lista";
    row-gap: 0;
  }
  #tour-mundial main #lista-de-fechas {
    flex-flow: row wrap;
  }
  #tour-mundial main #lista-de-fechas li {
    height: auto;
    width: 100%;
    border: solid #3E2723 2px;
    border-radius: 0;
  }
}

#galeria {
  background-color: #BCAAA4;
}
#galeria header nav ul {
  background-color: #D7CCC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2vw;
  list-style: none;
  overflow: hidden;
}
#galeria header nav ul li:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: none;
  transition: all 0.25s;
  opacity: 1;
}
#galeria header nav ul li a {
  color: #795548;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #galeria header nav ul {
    justify-content: space-around;
    column-gap: 0;
  }
  #galeria header nav ul li {
    width: 33%;
    text-align: center;
  }
  #galeria header nav ul li:hover {
    background-color: rgba(121, 85, 72, 0.5);
  }
}
#galeria main {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: 90vw;
  grid-template-rows: auto auto auto;
  grid-template-areas: "imagen-actual" "imagen-actual-nav" "container-galeria";
  row-gap: 2vh;
  justify-content: center;
}
#galeria main #imagen-actual {
  grid-area: imagen-actual;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 25%;
}
#galeria main #imagen-actual img {
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
  width: 50vw;
  height: 50vh;
}
#galeria main #imagen-actual #ampliar-boton {
  position: absolute;
  bottom: 1%;
  right: 0;
}
#galeria main #imagen-actual #ampliar-boton:hover input {
  scale: 0.85;
  opacity: 0.75;
  background-color: #795548;
  transition: all 0.25s;
  border: solid black 2px;
  border-radius: 100%;
  height: 60px;
  transition: 1s;
}
#galeria main #imagen-actual #ampliar-boton input {
  width: 80px;
  scale: 0.75;
  opacity: 0.5;
  color: #BCAAA4;
  background-color: #4E342E;
  padding: 5%;
  border: solid black 2px;
  border-radius: 1rem;
}
#galeria main #galeria-subcarpetas {
  grid-area: imagen-actual-nav;
  margin: 0 auto;
}
#galeria main #galeria-subcarpetas ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 0;
  background-color: #D7CCC8;
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
}
#galeria main #galeria-subcarpetas ul li {
  list-style: none;
  padding: 1vh 1vw;
}
#galeria main #galeria-subcarpetas ul li:hover {
  scale: 1.05;
  opacity: 0.75;
  background-color: #795548;
  transition: all 0.25s;
}
#galeria main #galeria-container {
  grid-area: container-galeria;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1vw;
  row-gap: 1vh;
  justify-content: center;
  width: 100%;
}
#galeria main #galeria-container img {
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
  width: 100px;
  height: 100px;
}
#galeria main #mostrar-mas-boton {
  background-color: #8D6E63;
  width: 30vw;
  border: solid #3E2723 2px;
  border-radius: 0.25rem;
  margin: 0 auto;
}
#galeria footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #galeria {
    margin: 0;
    padding: 0;
  }
  #galeria main {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    row-gap: 0;
  }
  #galeria main #imagen-actual {
    margin: 0;
    width: 100%;
  }
  #galeria main #imagen-actual img {
    width: 100%;
    border-radius: 0;
    border: none;
  }
  #galeria main #imagen-actual #ampliar-boton {
    bottom: 1%;
    scale: 1.125;
    right: 2vw;
  }
  #galeria main #galeria-subcarpetas {
    margin: 0;
  }
  #galeria main #galeria-subcarpetas ul {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  #galeria main #galeria-subcarpetas ul li {
    color: #3E2723;
  }
  #galeria main #galeria-container {
    grid-template-columns: repeat(4, 25vw);
    column-gap: 0;
    row-gap: 0;
    margin: 0;
    padding: 0;
  }
  #galeria main #galeria-container img {
    width: 24.2vw;
    border-radius: 0;
    border: solid 1px #3E2723;
  }
  #galeria main #mostrar-mas-boton {
    scale: 1.25;
    margin: 10px auto;
    width: 70vw;
  }
}

#experiencias-de-fans {
  background-color: #BCAAA4;
}
#experiencias-de-fans header h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #264d49;
  text-align: center;
  background-color: #4E342E;
}
#experiencias-de-fans header nav ul {
  background-color: #D7CCC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2vw;
  list-style: none;
  overflow: hidden;
}
#experiencias-de-fans header nav ul li:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: none;
  transition: all 0.25s;
  opacity: 1;
}
#experiencias-de-fans header nav ul li a {
  color: #795548;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #experiencias-de-fans header nav ul {
    justify-content: space-around;
    column-gap: 0;
  }
  #experiencias-de-fans header nav ul li {
    width: 33%;
    text-align: center;
  }
  #experiencias-de-fans header nav ul li:hover {
    background-color: rgba(121, 85, 72, 0.5);
  }
}
#experiencias-de-fans main #main-experiencia-de-fans {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 62.8vh;
  overflow-y: scroll;
  background-color: #8D6E63;
  margin: 0 auto;
  padding: 0 1vw;
}
#experiencias-de-fans main #main-experiencia-de-fans::-webkit-scrollbar {
  width: 0.5vw;
}
#experiencias-de-fans main #main-experiencia-de-fans::-webkit-scrollbar-thumb {
  background-color: rgba(121, 85, 72, 0.5);
  border-radius: 2rem;
}
#experiencias-de-fans main #main-experiencia-de-fans .comentario-experiencia {
  border: solid black 2px;
  border-radius: 0.25rem;
  width: 100%;
  text-justify: newspaper;
  margin: 0.5rem 0;
}
#experiencias-de-fans main #main-experiencia-de-fans .comentario-experiencia h3 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: #264d49;
  padding: 0 1vw;
  color: #3E2723;
  background-color: #BCAAA4;
}
#experiencias-de-fans main #main-experiencia-de-fans .comentario-experiencia p {
  background-color: #D7CCC8;
  padding: 1vh 1vw;
  font-size: 0.75rem;
  color: #4E342E;
}
#experiencias-de-fans main #formulario-comentario-nuevo {
  background-color: #4E342E;
  margin: 0 1vw;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
}
#experiencias-de-fans main #formulario-comentario-nuevo #informacion-complementaria {
  width: 19vw;
}
#experiencias-de-fans main #formulario-comentario-nuevo #informacion-complementaria input {
  width: 100%;
  margin: 0.125vh 0;
  text-align: center;
  border: solid black 2px;
  border-radius: 0.25rem;
}
#experiencias-de-fans main #formulario-comentario-nuevo #comentario-nuevo {
  width: 58vw;
  margin: 0 1vw;
  text-align: center;
  border: solid black 2px;
  border-radius: 0.25rem;
}
#experiencias-de-fans main #formulario-comentario-nuevo #cargar-enviar {
  width: 19vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  background-color: blueviolet;
}
#experiencias-de-fans main #formulario-comentario-nuevo #cargar-enviar input {
  width: 100%;
  background-color: #795548;
  color: #D7CCC8;
}

/*# sourceMappingURL=style.css.map */
