* {
  font-family: "tilt neon", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#index {
  display: flex;
  flex-flow: column nowrap;
}
#index #header-index {
  display: flex;
  flex-flow: column wrap;
}
#index #header-index #encabezado {
  display: flex;
  align-items: center;
  column-gap: 2vh;
  padding: 0.5rem;
  background-color: rgb(75, 105, 105);
  transition: 0.5s;
}
#index #header-index #encabezado img {
  scale: 1;
  border: solid black 2px;
}
#index #header-index #encabezado h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 4rem;
}
#index #header-index #nav-principal ul {
  background-color: azure;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#index #header-index #nav-principal a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
#index #header-index #reproductor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
  column-gap: 0.25rem;
  scale: 0.7;
}
#index #header-index #reproductor #botones {
  background-color: black;
  border: gray solid;
  padding: 0.125rem 1rem;
  border-radius: 0.5rem;
}
#index #header-index #reproductor #reproduciendo {
  background-color: bisque;
  border: black solid;
  padding: 0.125rem;
}
#index #imagen-principal {
  position: relative;
  height: 20rem;
  width: 45rem;
  margin: 0 auto;
  transition: 0.5s;
}
#index #imagen-principal img {
  width: 100%;
  height: 100%;
}
#index #imagen-principal img:hover {
  filter: blur(3px);
}
#index #imagen-principal #titulo-principal {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
#index #imagen-principal:hover #titulo-principal {
  bottom: 80%;
  font-size: 200%;
  color: rgb(137, 132, 132);
  text-shadow: 5px 0.5px 1px rgb(6, 6, 6);
}
#index #imagen-principal:hover #descripcion-principal {
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 0 1px rgb(6, 6, 6);
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}
#index #imagen-principal #descripcion-principal {
  display: none;
  position: absolute;
  bottom: 40%;
  width: 80%;
  margin: auto 10%;
  color: rgb(43, 34, 34);
  text-shadow: 0.4px 0.4px 15px rgb(6, 6, 6);
  transition: 0.6s;
}
#index #footer-principal {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
#index #footer-principal a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #encabezado {
    justify-content: center;
    transition: 1.5s;
  }
  #imagen-principal {
    height: 10rem;
    width: 25rem;
    transition: 0.5s;
  }
  #footer-principal {
    display: flex;
    justify-content: space-around;
  }
}
#contactanos header nav ul {
  background-color: azure;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#contactanos header nav a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
#contactanos main form {
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "nombre mensaje imagen" "correo mensaje imagen" "ciudad motivo enviar";
  background-color: rgb(104, 104, 104);
  margin: 10vh auto;
  border: solid black;
}
#contactanos main form input {
  border: solid black;
  text-align: center;
  background-color: azure;
}
#contactanos main form #nombre {
  grid-area: nombre;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #nombre input {
  height: 1.5rem;
  width: 95%;
}
#contactanos main form #correo-electronico {
  grid-area: correo;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #correo-electronico input {
  height: 1.5rem;
  width: 95%;
}
#contactanos main form #localidad {
  grid-area: ciudad;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #localidad input {
  height: 1.5rem;
  width: 95%;
}
#contactanos main form #mensaje {
  grid-area: mensaje;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #mensaje input {
  height: 90%;
  width: 90%;
}
#contactanos main form #motivo {
  grid-area: motivo;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #motivo input {
  height: 1.5rem;
  width: 95%;
}
#contactanos main form #imagen {
  grid-area: imagen;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #imagen input {
  height: 1.5rem;
  width: 95%;
}
#contactanos main form #enviar-formulario {
  grid-area: enviar;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactanos main form #enviar-formulario input {
  height: 2rem;
  width: 50%;
}
#contactanos footer {
  text-align: center;
}

#tour-mundial header h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  background-color: rgb(75, 105, 105);
}
#tour-mundial header nav ul {
  background-color: azure;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#tour-mundial header nav a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
#tour-mundial main {
  display: grid;
  justify-content: center;
  grid-template-columns: 18vw 76vw;
  grid-template-rows: 28vh repeat(5, 9vh);
  grid-template-areas: "side principal" "tokio principal" "korea principal" "francia principal" "alemania principal" "venezuela principal";
  row-gap: 0.5vh;
  column-gap: 2vw;
}
#tour-mundial main .informacion-secundaria {
  grid-area: side;
  display: none;
  background-color: azure;
  text-align: center;
  border: solid black;
}
#tour-mundial main .tour-default {
  display: inline-block;
  background-color: rgb(104, 104, 104);
  text-align: center;
  border: solid black;
}
#tour-mundial main span {
  display: flex;
  background-color: rgb(104, 104, 104);
  border: solid black;
  align-items: center;
  justify-content: center;
}
#tour-mundial main .tokio {
  grid-area: tokio;
}
#tour-mundial main #e-lista-korea {
  grid-area: korea;
}
#tour-mundial main #e-lista-korea:hover {
  scale: 1.01;
  transition: 0.1s;
}
#tour-mundial main #e-lista-korea:hover {
  display: flex;
}
#tour-mundial main #e-lista-francia {
  grid-area: francia;
}
#tour-mundial main #e-lista-alemania {
  grid-area: alemania;
}
#tour-mundial main #e-lista-venezuela {
  grid-area: venezuela;
}
#tour-mundial main .informacion-tour {
  grid-area: principal;
  display: none;
}
#tour-mundial main .tour-default {
  display: inline-block;
  background-color: rgb(104, 104, 104);
  text-align: center;
  border: solid black;
}
#tour-mundial footer {
  text-align: center;
}

#galeria {
  background-color: white;
}
#galeria header nav ul {
  background-color: azure;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#galeria header nav a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}
#galeria main {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 50vh 10vh 40vh;
  grid-template-areas: "imagen-actual" "imagen-actual-nav" "container-galeria";
  row-gap: 2vh;
  justify-content: center;
}
#galeria main #imagen-actual {
  grid-area: imagen-actual;
  display: flex;
  position: relative;
  justify-content: center;
}
#galeria main #imagen-actual img {
  border: solid black 2px;
  border-radius: 0.25rem;
  width: 50vw;
  height: 50vh;
}
#galeria main #imagen-actual #ampliar-boton {
  position: absolute;
  bottom: 1vh;
  left: 63vw;
}
#galeria main #imagen-actual #ampliar-boton:hover input {
  scale: 0.85;
  opacity: 0.75;
  background-color: rgb(104, 104, 104);
  transition: all 0.3s;
  border: solid black 2px;
  border-radius: 100%;
  height: 5vw;
  transition: 1s;
}
#galeria main #imagen-actual #ampliar-boton input {
  width: 7vw;
  scale: 0.75;
  opacity: 0.5;
  color: white;
  background-color: rgb(75, 105, 105);
  padding: 5%;
  border: solid black 2px;
  border-radius: 1rem;
}
#galeria main #galeria-subcarpetas {
  grid-area: imagen-actual-nav;
  width: 60%;
  margin: 0 auto;
}
#galeria main #galeria-subcarpetas ul {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  background-color: azure;
  padding: 0 1vw;
  border: solid black 2px;
  border-radius: 3rem;
}
#galeria main #galeria-subcarpetas ul li {
  list-style: none;
  padding: 1vh 0;
}
#galeria main #galeria-subcarpetas ul li img {
  border: solid black 2px;
  border-radius: 100%;
  height: 2.5rem;
  vertical-align: middle;
}
#galeria main #galeria-subcarpetas ul li img:hover {
  scale: 1.1;
  opacity: 0.75;
  background-color: rgb(104, 104, 104);
  transition: all 0.3s;
}
#galeria main #galeria-container {
  grid-area: container-galeria;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1vw;
  row-gap: 1vh;
  justify-content: center;
  width: 100%;
}
#galeria main #galeria-container img {
  border: solid black 2px;
  border-radius: 0.5rem;
  width: 7vw;
  height: 7vw;
}
#galeria footer {
  text-align: center;
}

#experiencias-de-fans {
  background-color: white;
}
#experiencias-de-fans header h1 {
  font-family: "fasthand", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  background-color: rgb(75, 105, 105);
}
#experiencias-de-fans header nav ul {
  background-color: azure;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;
  list-style: none;
}
#experiencias-de-fans header nav a {
  color: rgb(104, 104, 104);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
