@import "./variables.scss";
@import './mixin-and-extend.scss';
#contactanos{
    background-color: $color-secundario3;
    header{
        nav{
          @include nav-style
        }
      }
    main{ 
        form{
            display: grid;
            margin: 0 auto;
            padding: 10px;
            justify-content: space-around;
            width: 78vw;
            grid-template-columns: 25% 55% 20%;
            grid-template-areas: 
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje enviar";
            background-color:$color-principal;
            input{
            @include estilo-bordes(.25rem);
            text-align: center;
            background-color: $color-secundario2;
            }
            #informacion-contacto{
                grid-area:inf-contacto;
                display: flex;
                flex-wrap: wrap;
                div{
                    justify-content: center;
                }
                #nombre{
                    @include contactos-elem-style;
                }
                #correo-electronico{
                    @include contactos-elem-style;
                }
                #motivo{
                    @include contactos-elem-style;
                }
                #localidad{
                    @include contactos-elem-style;
                }
            }
            #mensaje{
                grid-area: mensaje;
                @include contactos-elem-style(100%,95%);
            }
            #imagen{
                grid-area:imagen;
                margin: auto auto;
                img{
                    @include estilo-bordes(50%);
                }
            }
            #enviar-formulario{
                grid-area: enviar;
                @include contactos-elem-style(100%);
                input{
                    @include estilo-botones;
                    &:hover{
                        @include animacion-botones;
                        background-color: $color-secundario1;

                    }
                }
            }   
        }
        #informacion-de-contacto-banda{
            width: 80vw;
            margin: 0 auto;
            p{
                text-align: justify;
                background-color: $color-secundario1;
                margin: 10px 0;
                padding: 5px;
                @include estilo-bordes;
                span{
                    display: block;
                    padding: 5px;
                    background-color: $color-secundario;
                    font-family: "fasthand";
                    font-size: 1.2rem;
                }

            }
        }
    }
    footer{
        text-align: center;
    }
}


