
#contactanos{
    background-color: $color-secundario3;
    header{
        nav{
          @include nav-style;
        }
      }
    main{ 
        width: 80vw;
        margin: 0 auto;
        form{
            display: grid;
            margin: 0 auto;
            padding: 10px;
            justify-content: space-around;
            grid-template-columns: 25% 55% 20%;
            grid-template-areas: 
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje imagen"
            "inf-contacto mensaje enviar";
            background-color:$color-principal;
            input{
                @include estilo-bordes(.25rem);
                text-align: center;
                background-color: $color-secundario2;
            }
            #informacion-contacto{
                grid-area:inf-contacto;
                display: flex;
                flex-wrap: wrap;
                div{
                    justify-content: center;
                }
                #nombre{
                    @include contactos-elem-style;
                }
                #correo-electronico{
                    @include contactos-elem-style;
                }
                #motivo{
                    @include contactos-elem-style;
                    select{
                        width: 100%;
                        color: $color-secundario3;
                        background-color: $color-secundario1;
                        @include estilo-bordes(.25rem,$color-subtitulos1);
                        option{
                            text-align: center;
                            
                        }
                    }
                }
                #localidad{
                    @include contactos-elem-style;
                }
            }
            #mensaje{
                grid-area: mensaje;
                @include contactos-elem-style(100%,95%);
            }
            #imagen{
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area:imagen;
                padding: 1vh 0;
                img{
                    @include estilo-bordes(50%);
                    width: 100%;
                }
            }
            #enviar-formulario{
                grid-area: enviar;
                @include contactos-elem-style(100%);
                input{
                    @include estilo-botones;
                    &:hover{
                        @include animacion-botones;
                        background-color: $color-secundario1;

                    }
                }
            }
        }   
        #informacion-de-contacto-banda{
            width: 100%;
            p{
                text-align: justify;
                background-color: $color-secundario1;
                margin: 10px 0;
                padding: 5px;
                color: $color-secundario3;
                @include estilo-bordes(.25rem,$color-subtitulos1);;
                &:not(#intro-contactos){
                    color: $color-subtitulos1;
                }
                span{
                    display: block;
                    padding: 5px;
                    color: $color-subtitulos1;
                    text-shadow: 0px 0px 5px $color-secundario3;
                    background-color: $color-secundario;
                    font-family:"fasthand";
                    font-size: 1.2rem; 
                }
        }
        }
    }
    footer{
        text-align: center;
    }
}
#contactanos{
    @media  screen and (max-width:$breakpoint) {
        main{
            width:100%;
            form{
                padding: 0;
                height: 500px;
                grid-template-areas: 
                "inf-contacto"
                "mensaje"
                "enviar";
                grid-template-columns:  100%;
                grid-template-rows: 55% 35% 10% ;
                #informacion-contacto{
                    padding:2vh 0 0 0;
                    margin: 0 auto;
                    width:95%;

                    #nombre,#correo-electronico,#localidad,#motivo{
                        input{
                            @include estilo-bordes(.25rem,$color-subtitulos1);
                        }
                    }
                    #motivo{
                        margin: 0 auto;
                        width: 80%;
                    }
                }
                #mensaje{
                    margin: 0 auto;
                    width:95%;
                    padding-bottom:  2vh;
                    input{
                        @include estilo-bordes(.25rem,$color-subtitulos1);
                        width: 100%;
                    }
                }
                #imagen{
                    display: none;
                }
                #enviar-formulario{
                    width:80%;
                    margin: 0 auto 2vh;
                }
            }
            #informacion-de-contacto-banda{
                width: 100%;
                #intro-contactos{
                    margin: 0;
                    background-color: $color-secundario;
                    @include estilo-bordes(0,$color-subtitulos1);
                }
                p{
                    color: $color-secundario3;
                    &:not(#intro-contactos){
                        border: none;
                        margin: 0;
                        span{
                            display: block; 
                            border-radius: .25rem;
                        }
                    }
                }
            }
        }
        
    }
}


