*{
  font-family: "tilt neon", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  @include estilo-scrollbar;
}
//HEADER INDEX
    #index{
        display: flex;
        flex-flow: column nowrap;
        #header-index{
            display: flex;
            flex-flow: column wrap;
            #encabezado{
                display: flex;
                align-items: center;
                column-gap:2vw;
                padding: .5rem;
                background-color: $color-principal;
                transition: .5s;
                img{
                  scale: 1;
                  border: solid $color-secundario3;
                  border-radius: 100%;
                }
                h1{
                  @include titulos-style(4rem);
                }
                }
            
            #nav-principal{
                @include nav-style;
            }
            #reproductor{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5vh;
                column-gap: .25rem;
                scale: .7;
                #botones{
                    background-color:$color-subtitulos;
                    border: $color-secundario3 solid;
                    padding: .125rem 1rem;
                    border-radius: .5rem;
                  }
                  #reproduciendo{
                    background-color: $color-secundario2;
                    border: $color-secundario1 solid;
                    padding: .25rem;
                  }
            }
          }
          //MAIN INDEX
          #imagen-principal{
            position: relative;
            height: 20rem;
            width: 50rem;
            margin: 0 auto;
            transition: .5s;
            &:hover{
              img{
                filter: blur(2px);
                border-radius: .5rem;
                opacity: 80%;
              }
            }
            img{
              width: 100%;
              height: 100%;
              background-color: $color-secundario3;
                
              }
              #titulo-principal{
                display: flex;
                position: absolute;
                bottom: 0;
                justify-content: center;
                width: 100%;
                transition: .3s ;
                @include titulos-style(2.5rem)
              }
              &:hover{
                #titulo-principal{
                    bottom:80%;
                    font-size: 2.5rem;
                    text-shadow: 1px .5px 1px $color-subtitulos;
                  }
                 #descripcion-principal{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    text-shadow: 2px 1px 4px black;
                    font-weight: bold;
                    @include titulos-style(1.7rem);
                    color:$color-subtitulos1;
                  }
                }
                #descripcion-principal{
                    display: none;
                    position: absolute;
                    bottom: 10%;
                     width: 80%;
                     margin: auto 10%;
                     text-shadow: 4px 4px 5px rgb(6, 6, 6);
                     transition: .60s;
                   }
              }
//FOOTER INDEX 
              #footer-principal{
                display: flex;
                column-gap: 1rem;
                justify-content:center;
                a{
                  text-decoration: none;
                  img{
                    height: 1rem;
                  }
                  
                }

              }
            }

    @media screen and (max-width: $breakpoint){
      #encabezado{
        justify-content: center;
        transition: 1.5s;
      }
      #imagen-principal{
        height: 10rem;
        width: 25rem;
        transition: .5s;
      }
    #footer-principal{
      display: flex;
      justify-content: space-around;
    }
  }
