*{
  font-family: "tilt neon", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  @include estilo-scrollbar;
  @media screen and (max-width:$breakpoint) {
    font-size: 1.20rem;
  }
}
//HEADER INDEX
    #index{
        height: 100vh;
        display: grid;
        grid-column: auto;
        grid-row: auto 80vh auto;
        grid-template-areas: 
        "header"
        "principal"
        "footer";
        background-color: $color-secundario3;
        #header-index{
          grid-area: header;
          display: flex;
            flex-flow: column wrap;
            #encabezado{
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              justify-content: center;
              column-gap:2vw; 
              padding: 10px;
              background-color: $color-principal;
              transition: .5s;
              img{
                  width: 60px;
                  border: solid $color-secundario3;
                  border-radius: 100%;
                }
                h1{
                  @include titulos-style(2rem);
                }
                }
            
            #nav-principal{
                @include nav-style;
            }
          }
          //MAIN INDEX
          main{
          grid-area: principal;
          height: 100%;
          display:flex;
          flex-wrap: wrap;
          #reproductor{
            width: 100%;
            display: flex;
            #botones{
              width: 45%;
              margin: 1% 2.5%;
              list-style: none;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              
              align-content: center;
              column-gap: 0;
              background-color: $color-secundario2;
              @include estilo-bordes(.5rem,$color-subtitulos);
              li{
                list-style: none;
                padding: 1vh 1vw;
                &:hover{
                  @include animacion-botones;
                }
                img{
                  vertical-align: middle;
                  height: 1.7rem;
                }
              }
            }
            #reproduciendo{
              width: 45%;
              margin: 1% 2.5%;
              background-color: $color-secundario1;
              @include estilo-bordes(0,$color-subtitulos);
              color: $color-secundario3;
              text-align: center;
            }

          }
          #imagen-principal{
            position: relative;
            height: 62vh;
            width: 95%;
            margin: 0 auto;
            background-color: $color-subtitulos;
            @include estilo-bordes(.25rem,$color-subtitulos1);
            img{
              width: 100%;
              height: 100%;
              opacity: 0.4;
            }
            #titulo-principal{
              position: absolute;
              right: 50%;
              top: 90%;
              transform: translate(50%,-50%);
              @include titulos-style(3rem);
            }
            #descripcion-principal{
              position: absolute;
              top: 25%;
              right: 10%;
              left: 10%;
              transform: translate(10%,-10%);
              @include titulos-style(2.5rem);
              font-family: "tilt neon", Verdana, Geneva, Tahoma, sans-serif;
              color:#6e2d16;
              text-shadow: $color-secundario3 0 0 10px;
              span{
                font-size: 3rem;
                color: $color-subtitulos1;
              }
            }
          }

        }
              
//FOOTER INDEX 
              #footer-principal{
                @include footer;
              }
            }
#index{
 
  margin: 0;
    @media screen and (max-width: $breakpoint){ 
      height:auto;
      grid-row: auto auto auto;
      #header-index{
        transition: .5s;
        #encabezado{
          h1{
            font-size: 2rem;
            transition: .5s;
          }
          img{
            width: 70px;
          }
        }
      }
      main{
        #reproductor{
          flex-wrap: wrap;
          #botones{
            width: 100%;
            justify-content: space-around;
            margin: 1vh 2.5%;
          }
          #reproduciendo{
            width: 100%;
            margin: 1vh 0;
          }
        }
        #imagen-principal{
          width: 100%;
          max-width: 1500px;
          height:unset ;
          #titulo-principal{
            width: 100%;
            text-align: center;
            transform:translateX(50%);
              font-size: 2rem;
          }
          #descripcion-principal{
            width: 100%;
            text-align: center;
            top: 5%;
              left: 0%;
              transform: translate(0,0);
          }
        }
        

      }
  }
}