@mixin titulos-style($escala){
  font-family: "fasthand",Arial, Helvetica, sans-serif;
  font-size: $escala;
  color: #264d49;
}
@mixin animacion-botones($escala:1.05,$b:s){
  scale:$escala;
  opacity: .75;
  @if($b==s){
    background-color: $color-secundario;
  }
  @else{
    background-color: $b;
  }
  
  transition: all .25s;
}
@mixin estilo-bordes($radio:0,$color:black){
  border: solid $color 2px;
  border-radius:$radio;
}
@mixin estilo-scrollbar{
  &::-webkit-scrollbar{
    width: .5vw;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgba($color:$color-secundario, $alpha: .5);
    border-radius: 2rem;
  }
}
@mixin estilo-botones{
  background-color: $color-secundario;
  color: $color-secundario2;
}

// bloques 
@mixin nav-style{
  ul{
    background-color:$color-secundario2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 2vw;
    list-style: none;
  }
  li{
    &:hover{
      @include animacion-botones(1.1,none);
      opacity: 1;

    }
  }
  a{
    color:$color-secundario;
    text-decoration: none;
  }
};

@mixin contactos-elem-style($height:85%,$width:100%){
  display: flex; 
  justify-content: center;
  align-items: center;
  width: $width;
  input{
      height: $height;
      width: $width;
  }
}