@mixin titulos-style($escala){
  font-family: "fasthand",Arial, Helvetica, sans-serif;
  font-size: $escala;
  color: #264d49;
}
@mixin animacion-botones($escala:1.05){
  scale:$escala;
  opacity: .75;
  background-color: $color-secundario;
  transition: all .3s;
}
@mixin estilo-bordes($radio:0,$color:black){
  border: solid $color 2px;
  border-radius:$radio;
}
@mixin estilo-scrollbar{
  &::-webkit-scrollbar{
    width: .5rem;
  }
  &::-webkit-scrollbar-track{
    background-color: $color-secundario;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $color-subtitulos;
    border-radius: 1rem;
  }
}
@mixin estilo-botones{
  background-color: $color-secundario;
  color: $color-secundario2;
}

// bloques 
@mixin nav-style{
  ul{
    background-color:$color-secundario2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 3vw;
    list-style: none;
  }
  a{
    color:$color-secundario;
    text-decoration: none;
  }
};

@mixin contactos-elem-style($height:85%,$width:100%){
  display: flex; 
  justify-content: center;
  align-items: center;
  width: $width;
  input{
      height: $height;
      width: $width;
  }
}