#tour-mundial{
  header{
    h1{
      @include titulos-style(3rem);
      text-align: center;
      background-color: $color-principal;
    }
    nav{
      @include nav-style;
    }
  }
  main{
    display: grid;
    justify-content: center;
    grid-template-columns: 18vw 76vw;
    grid-template-rows: 28vh repeat(5 , 9vh);
    grid-template-areas: 
    "side principal"
    "tokio principal"
    "korea principal"
    "francia principal"
    "alemania principal"
    "venezuela principal"
    ;
    row-gap: .5vh;
    column-gap: 2vw;
    .informacion-secundaria{
      grid-area: side;
      display:none;
      background-color: $color-secundario2;
      text-align: center;
      border: solid black;
    }
    .tour-default{
      display: inline-block;
      background-color: $color-secundario;
      text-align: center;
      border: solid black;
    }
    span{
      display: flex;
      background-color: $color-secundario;
      border: solid black;
      align-items: center;
      justify-content: center;
    }
    .tokio{
        grid-area:tokio;
        
      }
      #e-lista-korea{
        grid-area: korea;
        &:hover{
          scale: 1.01;
          transition: .1s;
          &{
          display: flex;
          }
        }
      }
      #e-lista-francia{
        grid-area: francia;
      }
      #e-lista-alemania{
        grid-area: alemania;
      }
      #e-lista-venezuela{
        grid-area: venezuela;
      }
    .informacion-tour{
      grid-area: principal;
      display: none;
    }
    .tour-default{
      display: inline-block;
      background-color: $color-secundario;
      text-align: center;
      border: solid black;

      }
  }
  footer{
    text-align: center;
  }
}