#tour-mundial{
  height: 100vh;
  background-color: $color-secundario3;
  header{
    background-color: $color-principal;
    h1{
      @include titulos-style(3rem);
      text-align: center;
      width: 100%;
    }
    nav{
      @include nav-style;
    }
  }
  main{
    margin: 1vh 1vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 25vw 72vw;
    grid-template-rows: 30% 67%;
    row-gap: 1%;
    column-gap: 1vh;
    grid-template-areas:
    "aside principal"
    "lista principal";
    #informacion-complementaria{
      
      background-color: $color-secundario1;
      @include estilo-bordes(.25rem,$color-subtitulos);
      p{
        padding:0  1vmin;
        text-align:justify;
      }
      #informacion-complementaria-default{
        color: $color-subtitulos1;
      }
      .contacto{
        padding: 0  .5vmin;
        margin: 0 1vmin;
        color: $color-subtitulos1;
        text-shadow: 0px 0px 5px $color-secundario3;
        background-color: $color-secundario;
        border-radius: .25rem;
        font-family:"fasthand";
        font-size: 1rem;
      }
    }
    #lista-de-fechas{
      grid-area: lista;
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      li{
        height: 20%;
        background-color: $color-secundario1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        color: $color-subtitulos1;
        @include estilo-bordes(.25rem,$color-subtitulos);
        &:hover{
          background-color: $color-secundario3;
        }
        
        
      }
    }
    #informacion-principal{
      grid-area: principal;
      display: flex;
    div{
      display: grid;
      padding: 0 5vmin;
      grid-template-columns: repeat(3,auto);
      grid-template-rows: repeat(4,auto);
      grid-template-areas: 
      "titulo titulo titulo"
      "descrip descrip descrip"
      "descrip descrip descrip"
      "img img img"
      ;
      background-color: $color-secundario2;
      @include estilo-bordes(.25rem,$color-subtitulos);
      p{
        text-align: center;
        @include titulos-style(1.5rem);
        padding: 0 1vmin;
        font-family: "tilt neon",Verdana, Geneva, Tahoma, sans-serif;
      }
      #informacion-principal-default{
        grid-area: titulo;
        text-align: center;

        @include titulos-style(2rem);
        padding: 0 1vmin;
      }
      #descripcion-evento{
        grid-area:descrip;
      }
      img{
        grid-area: img;
        @include estilo-bordes(.25rem,$color-secundario3);
        width: 40vmin;
        height: 95%;
        margin-bottom: 1vmin ;
        margin: 0 auto;
      }
    }
    }
  }
  footer{
    text-align: center;
  }
}
#tour-mundial{
  height: auto;
  @media  screen and (max-width:$breakpoint){
    header{
      h1{
        font-size: 1.5rem;
      }
    }
    main{
      margin: 0;
      padding: 0;
      height: auto;
      grid-template-columns: auto;
      grid-template-rows:500px auto auto;
      grid-template-areas: 
      "principal"
      "aside"
      "lista"
      ;
      row-gap: 0;
      #lista-de-fechas{
        flex-flow:row wrap;
        justify-content: center;
        li{
          height: auto;
          width: 100%;
          @include estilo-bordes(0,$color-subtitulos);
        }
      }
    }
  }
}