//media querry vatiables 
$breakpoint:600px;
$color-principal:#4E342E;
$color-secundario:#795548;
$color-secundario1:#8D6E63;
$color-secundario2:#D7CCC8;
$color-secundario3:#BCAAA4;
$color-subtitulos:#3E2723;
$color-subtitulos1:#1f1412;

