//media querry vatiables 
$breakpoint:600px;
//paleta de colores
$color-principal:#4E342E;
$color-secundario:#795548;
$color-secundario1:#8D6E63;
$color-secundario2:#D7CCC8;
$color-secundario3:#bcaaa4;
$color-subtitulos:#3E2723;
$color-subtitulos1:#1f1412;
$color-listas:#684a3fa8;
$color-fondo-oscuros:#31211e;
//variables funcionales